PM10 Nasa processing data

In [2]:
import netCDF4
import numpy as np
import pandas as pd
print(netCDF4.__version__)
import geopandas as gpd
from shapely.geometry import Point
import fiona

1.7.2

In [6]:
from netCDF4 import Dataset


nc_file = Dataset('pm10-nasa/MERRA2_400.tavgM_2d_aer_Nx.202001.nc4', mode='r')

In [7]:
print(nc_file)
#print(nc_file.variables.keys())

<class 'netCDF4.Dataset'>
root group (NETCDF4_CLASSIC data model, file format HDF5):
    Contact: http://gmao.gsfc.nasa.gov
    History: Original file generated: Tue Feb 11 23:02:57 2020 GMT
    Filename: MERRA2_400.tavgM_2d_aer_Nx.202001.nc4
    Comment: GMAO filename: d5124_m2_jan10.tavg1_2d_aer_Nx.monthly.202001.nc4
    Source: CVS tag: GEOSadas-5_12_4_p23_sp3_M2-OPS experiment_id: d5124_m2_jan10
    Conventions: CF-1
    Institution: NASA Global Modeling and Assimilation Office
    References: http://gmao.gsfc.nasa.gov
    Format: NetCDF-4/HDF-5
    SpatialCoverage: global
    VersionID: 5.12.4
    TemporalRange: 1980-01-01 -> 2016-12-31
    identifier_product_doi_authority: http://dx.doi.org/
    ShortName: M2TMNXAER
    RangeBeginningDate: 2020-01-01
    RangeEndingDate: 2020-01-31
    GranuleID: MERRA2_400.tavgM_2d_aer_Nx.202001.nc4
    ProductionDateTime: Original file generated: Tue Feb 11 23:02:57 2020 GMT
    LongName: MERRA2 tavg1_2d_aer_Nx: 2d,1-Hourly,Time-averaged,Single-Level,Assimilation,Aerosol Diagnostics Monthly Mean
    Title: MERRA2 tavg1_2d_aer_Nx: 2d,1-Hourly,Time-averaged,Single-Level,Assimilation,Aerosol Diagnostics Monthly Mean
    SouthernmostLatitude: -90.0
    NorthernmostLatitude: 90.0
    WesternmostLongitude: -180.0
    EasternmostLongitude: 179.375
    LatitudeResolution: 0.5
    LongitudeResolution: 0.625
    DataResolution: 0.5 x 0.625
    identifier_product_doi: 10.5067/FH9A0MLJPC7N
    RangeBeginningTime: 00:00:00.000000
    RangeEndingTime: 23:59:59.000000
    dimensions(sizes): lon(576), lat(361), time(1)
    variables(dimensions): float64 lon(lon), float64 lat(lat), int32 time(time), float32 BCANGSTR(time, lat, lon), float32 BCCMASS(time, lat, lon), float32 BCEXTTAU(time, lat, lon), float32 BCFLUXU(time, lat, lon), float32 BCFLUXV(time, lat, lon), float32 BCSCATAU(time, lat, lon), float32 BCSMASS(time, lat, lon), float32 DMSCMASS(time, lat, lon), float32 DMSSMASS(time, lat, lon), float32 DUANGSTR(time, lat, lon), float32 DUCMASS(time, lat, lon), float32 DUCMASS25(time, lat, lon), float32 DUEXTT25(time, lat, lon), float32 DUEXTTAU(time, lat, lon), float32 DUFLUXU(time, lat, lon), float32 DUFLUXV(time, lat, lon), float32 DUSCAT25(time, lat, lon), float32 DUSCATAU(time, lat, lon), float32 DUSMASS(time, lat, lon), float32 DUSMASS25(time, lat, lon), float32 OCANGSTR(time, lat, lon), float32 OCCMASS(time, lat, lon), float32 OCEXTTAU(time, lat, lon), float32 OCFLUXU(time, lat, lon), float32 OCFLUXV(time, lat, lon), float32 OCSCATAU(time, lat, lon), float32 OCSMASS(time, lat, lon), float32 SO2CMASS(time, lat, lon), float32 SO2SMASS(time, lat, lon), float32 SO4CMASS(time, lat, lon), float32 SO4SMASS(time, lat, lon), float32 SSANGSTR(time, lat, lon), float32 SSCMASS(time, lat, lon), float32 SSCMASS25(time, lat, lon), float32 SSEXTT25(time, lat, lon), float32 SSEXTTAU(time, lat, lon), float32 SSFLUXU(time, lat, lon), float32 SSFLUXV(time, lat, lon), float32 SSSCAT25(time, lat, lon), float32 SSSCATAU(time, lat, lon), float32 SSSMASS(time, lat, lon), float32 SSSMASS25(time, lat, lon), float32 SUANGSTR(time, lat, lon), float32 SUEXTTAU(time, lat, lon), float32 SUFLUXU(time, lat, lon), float32 SUFLUXV(time, lat, lon), float32 SUSCATAU(time, lat, lon), float32 TOTANGSTR(time, lat, lon), float32 TOTEXTTAU(time, lat, lon), float32 TOTSCATAU(time, lat, lon), float32 Var_BCANGSTR(time, lat, lon), float32 Var_BCCMASS(time, lat, lon), float32 Var_BCEXTTAU(time, lat, lon), float32 Var_BCFLUXU(time, lat, lon), float32 Var_BCFLUXV(time, lat, lon), float32 Var_BCSCATAU(time, lat, lon), float32 Var_BCSMASS(time, lat, lon), float32 Var_DMSCMASS(time, lat, lon), float32 Var_DMSSMASS(time, lat, lon), float32 Var_DUANGSTR(time, lat, lon), float32 Var_DUCMASS(time, lat, lon), float32 Var_DUCMASS25(time, lat, lon), float32 Var_DUEXTT25(time, lat, lon), float32 Var_DUEXTTAU(time, lat, lon), float32 Var_DUFLUXU(time, lat, lon), float32 Var_DUFLUXV(time, lat, lon), float32 Var_DUSCAT25(time, lat, lon), float32 Var_DUSCATAU(time, lat, lon), float32 Var_DUSMASS(time, lat, lon), float32 Var_DUSMASS25(time, lat, lon), float32 Var_OCANGSTR(time, lat, lon), float32 Var_OCCMASS(time, lat, lon), float32 Var_OCEXTTAU(time, lat, lon), float32 Var_OCFLUXU(time, lat, lon), float32 Var_OCFLUXV(time, lat, lon), float32 Var_OCSCATAU(time, lat, lon), float32 Var_OCSMASS(time, lat, lon), float32 Var_SO2CMASS(time, lat, lon), float32 Var_SO2SMASS(time, lat, lon), float32 Var_SO4CMASS(time, lat, lon), float32 Var_SO4SMASS(time, lat, lon), float32 Var_SSANGSTR(time, lat, lon), float32 Var_SSCMASS(time, lat, lon), float32 Var_SSCMASS25(time, lat, lon), float32 Var_SSEXTT25(time, lat, lon), float32 Var_SSEXTTAU(time, lat, lon), float32 Var_SSFLUXU(time, lat, lon), float32 Var_SSFLUXV(time, lat, lon), float32 Var_SSSCAT25(time, lat, lon), float32 Var_SSSCATAU(time, lat, lon), float32 Var_SSSMASS(time, lat, lon), float32 Var_SSSMASS25(time, lat, lon), float32 Var_SUANGSTR(time, lat, lon), float32 Var_SUEXTTAU(time, lat, lon), float32 Var_SUFLUXU(time, lat, lon), float32 Var_SUFLUXV(time, lat, lon), float32 Var_SUSCATAU(time, lat, lon), float32 Var_TOTANGSTR(time, lat, lon), float32 Var_TOTEXTTAU(time, lat, lon), float32 Var_TOTSCATAU(time, lat, lon)
    groups:

In [8]:
print(nc_file.variables.keys())

dict_keys(['lon', 'lat', 'time', 'BCANGSTR', 'BCCMASS', 'BCEXTTAU', 'BCFLUXU', 'BCFLUXV', 'BCSCATAU', 'BCSMASS', 'DMSCMASS', 'DMSSMASS', 'DUANGSTR', 'DUCMASS', 'DUCMASS25', 'DUEXTT25', 'DUEXTTAU', 'DUFLUXU', 'DUFLUXV', 'DUSCAT25', 'DUSCATAU', 'DUSMASS', 'DUSMASS25', 'OCANGSTR', 'OCCMASS', 'OCEXTTAU', 'OCFLUXU', 'OCFLUXV', 'OCSCATAU', 'OCSMASS', 'SO2CMASS', 'SO2SMASS', 'SO4CMASS', 'SO4SMASS', 'SSANGSTR', 'SSCMASS', 'SSCMASS25', 'SSEXTT25', 'SSEXTTAU', 'SSFLUXU', 'SSFLUXV', 'SSSCAT25', 'SSSCATAU', 'SSSMASS', 'SSSMASS25', 'SUANGSTR', 'SUEXTTAU', 'SUFLUXU', 'SUFLUXV', 'SUSCATAU', 'TOTANGSTR', 'TOTEXTTAU', 'TOTSCATAU', 'Var_BCANGSTR', 'Var_BCCMASS', 'Var_BCEXTTAU', 'Var_BCFLUXU', 'Var_BCFLUXV', 'Var_BCSCATAU', 'Var_BCSMASS', 'Var_DMSCMASS', 'Var_DMSSMASS', 'Var_DUANGSTR', 'Var_DUCMASS', 'Var_DUCMASS25', 'Var_DUEXTT25', 'Var_DUEXTTAU', 'Var_DUFLUXU', 'Var_DUFLUXV', 'Var_DUSCAT25', 'Var_DUSCATAU', 'Var_DUSMASS', 'Var_DUSMASS25', 'Var_OCANGSTR', 'Var_OCCMASS', 'Var_OCEXTTAU', 'Var_OCFLUXU', 'Var_OCFLUXV', 'Var_OCSCATAU', 'Var_OCSMASS', 'Var_SO2CMASS', 'Var_SO2SMASS', 'Var_SO4CMASS', 'Var_SO4SMASS', 'Var_SSANGSTR', 'Var_SSCMASS', 'Var_SSCMASS25', 'Var_SSEXTT25', 'Var_SSEXTTAU', 'Var_SSFLUXU', 'Var_SSFLUXV', 'Var_SSSCAT25', 'Var_SSSCATAU', 'Var_SSSMASS', 'Var_SSSMASS25', 'Var_SUANGSTR', 'Var_SUEXTTAU', 'Var_SUFLUXU', 'Var_SUFLUXV', 'Var_SUSCATAU', 'Var_TOTANGSTR', 'Var_TOTEXTTAU', 'Var_TOTSCATAU'])

In [9]:
file_path = 'pm10-nasa/MERRA2_400.tavgM_2d_aer_Nx.202001.nc4'

layer_number = 71  # Python indexing starts from 0, so layer 72 is index 71
air_density_value = 1.225  # kg/m³

try:
    with Dataset(file_path, 'r') as nc_file:
        # Check if the total mass variables exist
        required_totals = ['SO4SMASS', 'BCSMASS', 'OCCMASS', 'DUSMASS', 'SSSMASS']
        if not all(var in nc_file.variables for var in required_totals):
            missing_totals = [var for var in required_totals if var not in nc_file.variables]
            print(f"Error: The following required total mass variables are missing: {missing_totals}")
        else:
            # Extract the necessary 2D variables
            so4 = nc_file.variables['SO4SMASS'][:]
            bc = nc_file.variables['BCSMASS'][:]
            oc = nc_file.variables['OCCMASS'][:]
            du_total = nc_file.variables['DUSMASS'][:]
            ss_total = nc_file.variables['SSSMASS'][:]

            # Assuming BC and OC are split into hydrophobic and hydrophilic
            bc_phobic = bc * 0.5
            bc_philic = bc * 0.5
            oc_phobic = oc * 0.5
            oc_philic = oc * 0.5

            # Distribute total dust mass based on the PM10 equation coefficients
            total_du_coeff = 1 + 1 + 1 + 0.74
            du001_approx = du_total * (1 / total_du_coeff)
            du002_approx = du_total * (1 / total_du_coeff)
            du003_approx = du_total * (1 / total_du_coeff)
            du004_approx = du_total * (0.74 / total_du_coeff)

            # Distribute total sea salt mass evenly
            ss001_approx = ss_total * 0.25
            ss002_approx = ss_total * 0.25
            ss003_approx = ss_total * 0.25
            ss004_approx = ss_total * 0.25

            # Calculate PM10 concentration
            pm10 = (1.375 * so4 + bc_phobic + bc_philic + oc_phobic + oc_philic +
                    du001_approx + du002_approx + du003_approx + 0.74 * du004_approx +
                    ss001_approx + ss002_approx + ss003_approx + ss004_approx) * air_density_value

            print("Approximate PM10 Concentrations (2D field):")
            print(pm10)

except FileNotFoundError:
    print(f"Error: File not found at '{file_path}'")
except Exception as e:
    print(f"An error occurred: {e}")

Approximate PM10 Concentrations (2D field):
[[[3.80578860e-06 3.80578860e-06 3.80578860e-06 ... 3.80578860e-06
   3.80578860e-06 3.80578860e-06]
  [3.79316120e-06 3.79406740e-06 3.79406740e-06 ... 3.79163120e-06
   3.79163120e-06 3.79163120e-06]
  [3.76665002e-06 3.76665002e-06 3.76665002e-06 ... 3.76665002e-06
   3.76665002e-06 3.76665002e-06]
  ...
  [9.38156420e-07 9.38156420e-07 9.38156420e-07 ... 9.38156420e-07
   9.38156420e-07 9.38156420e-07]
  [9.36620252e-07 9.36544631e-07 9.36544631e-07 ... 9.36790692e-07
   9.36790692e-07 9.36790692e-07]
  [9.35406075e-07 9.35406075e-07 9.35406075e-07 ... 9.35406075e-07
   9.35406075e-07 9.35406075e-07]]]

In [10]:
file_path = 'pm10-nasa/MERRA2_400.tavgM_2d_aer_Nx.202001.nc4'  # Make sure this is the correct path

try:
    with Dataset(file_path, 'r') as nc_file:
        print("Variables in the file:")
        for var_name in nc_file.variables:
            print(var_name)
except FileNotFoundError:
    print(f"Error: File not found at '{file_path}'")
except Exception as e:
    print(f"An error occurred: {e}")

Variables in the file:
lon
lat
time
BCANGSTR
BCCMASS
BCEXTTAU
BCFLUXU
BCFLUXV
BCSCATAU
BCSMASS
DMSCMASS
DMSSMASS
DUANGSTR
DUCMASS
DUCMASS25
DUEXTT25
DUEXTTAU
DUFLUXU
DUFLUXV
DUSCAT25
DUSCATAU
DUSMASS
DUSMASS25
OCANGSTR
OCCMASS
OCEXTTAU
OCFLUXU
OCFLUXV
OCSCATAU
OCSMASS
SO2CMASS
SO2SMASS
SO4CMASS
SO4SMASS
SSANGSTR
SSCMASS
SSCMASS25
SSEXTT25
SSEXTTAU
SSFLUXU
SSFLUXV
SSSCAT25
SSSCATAU
SSSMASS
SSSMASS25
SUANGSTR
SUEXTTAU
SUFLUXU
SUFLUXV
SUSCATAU
TOTANGSTR
TOTEXTTAU
TOTSCATAU
Var_BCANGSTR
Var_BCCMASS
Var_BCEXTTAU
Var_BCFLUXU
Var_BCFLUXV
Var_BCSCATAU
Var_BCSMASS
Var_DMSCMASS
Var_DMSSMASS
Var_DUANGSTR
Var_DUCMASS
Var_DUCMASS25
Var_DUEXTT25
Var_DUEXTTAU
Var_DUFLUXU
Var_DUFLUXV
Var_DUSCAT25
Var_DUSCATAU
Var_DUSMASS
Var_DUSMASS25
Var_OCANGSTR
Var_OCCMASS
Var_OCEXTTAU
Var_OCFLUXU
Var_OCFLUXV
Var_OCSCATAU
Var_OCSMASS
Var_SO2CMASS
Var_SO2SMASS
Var_SO4CMASS
Var_SO4SMASS
Var_SSANGSTR
Var_SSCMASS
Var_SSCMASS25
Var_SSEXTT25
Var_SSEXTTAU
Var_SSFLUXU
Var_SSFLUXV
Var_SSSCAT25
Var_SSSCATAU
Var_SSSMASS
Var_SSSMASS25
Var_SUANGSTR
Var_SUEXTTAU
Var_SUFLUXU
Var_SUFLUXV
Var_SUSCATAU
Var_TOTANGSTR
Var_TOTEXTTAU
Var_TOTSCATAU

In [11]:
from netCDF4 import Dataset

file_path = 'pm10-nasa/MERRA2_400.tavgM_2d_aer_Nx.202001.nc4'

try:
    with Dataset(file_path, 'r') as nc_file:
        if 'SO4SMASS' in nc_file.variables:
            print(f"Dimensions of SO4SMASS: {nc_file.variables['SO4SMASS'].dimensions}")
            print(f"Shape of SO4SMASS: {nc_file.variables['SO4SMASS'].shape}")
        else:
            print("Variable 'SO4SMASS' not found.")
except FileNotFoundError:
    print(f"Error: File not found at '{file_path}'")
except Exception as e:
    print(f"An error occurred: {e}")

Dimensions of SO4SMASS: ('time', 'lat', 'lon')
Shape of SO4SMASS: (1, 361, 576)

In [12]:
try:
    with fiona.Env(SHAPE_RESTORE_SHX='YES'):
        # Then proceed with reading your shapefile using geopandas
        shapefile_path = 'illinois_shape/IL_BNDY_County_Py.shp'  # Make sure this is correct
        illinois_counties = gpd.read_file(shapefile_path)
        # ... your code to process the shapefile ...
except fiona.errors.DriverError as e:
    print(f"Error reading shapefile with Fiona: {e}")
except FileNotFoundError:
    print(f"Error: Shapefile not found at {shapefile_path}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

In [13]:
illinois_counties = gpd.read_file(shapefile_path)
print("Columns in the shapefile:")
print(illinois_counties.columns)

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

In [14]:
file_path = 'pm10-nasa/MERRA2_400.tavgM_2d_aer_Nx.202001.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path = 'illinois_shape/IL_BNDY_County_Py.shp'
air_density_value = 1.225  # kg/m³

# Define approximate Illinois latitude and longitude boundaries
min_lat = 36.9
max_lat = 42.5
min_lon = -91.5
max_lon = -87.5

try:
    with netCDF4.Dataset(file_path, 'r') as nc_file:
        latitudes = nc_file.variables['lat'][:]
        longitudes = nc_file.variables['lon'][:]

        # Find indices of grid points within Illinois latitude and longitude bounds
        lat_indices = np.where((latitudes >= min_lat) & (latitudes <= max_lat))[0]
        lon_indices = np.where((longitudes >= min_lon) & (longitudes <= max_lon))[0]

        # Extract Illinois latitude and longitude coordinates
        illinois_lats = latitudes[lat_indices]
        illinois_lons = longitudes[lon_indices]

        # Extract the 2D aerosol mass mixing ratio variables over the Illinois region
        def extract_illinois_data(var_name):
            if var_name in nc_file.variables:
                var_data = nc_file.variables[var_name][0, lat_indices, lon_indices]  # Assuming time is the first dimension
                return var_data
            else:
                print(f"Warning: Variable '{var_name}' not found.")
                return None

        so4_il = extract_illinois_data('SO4SMASS')
        bc_il = extract_illinois_data('BCSMASS')
        oc_il = extract_illinois_data('OCCMASS')
        du_il = extract_illinois_data('DUSMASS')
        ss_il = extract_illinois_data('SSSMASS')

        if so4_il is not None and bc_il is not None and oc_il is not None and du_il is not None and ss_il is not None:
            # Assuming BC and OC are split into hydrophobic and hydrophilic
            bc_phobic_il = bc_il * 0.5
            bc_philic_il = bc_il * 0.5
            oc_phobic_il = oc_il * 0.5
            oc_philic_il = oc_il * 0.5

            # Distribute total dust mass based on the PM10 equation coefficients
            total_du_coeff = 1 + 1 + 1 + 0.74
            du001_approx_il = du_il * (1 / total_du_coeff)
            du002_approx_il = du_il * (1 / total_du_coeff)
            du003_approx_il = du_il * (1 / total_du_coeff)
            du004_approx_il = du_il * (0.74 / total_du_coeff)

            # Distribute total sea salt mass evenly
            ss001_approx_il = ss_il * 0.25
            ss002_approx_il = ss_il * 0.25
            ss003_approx_il = ss_il * 0.25
            ss004_approx_il = ss_il * 0.25

            # Calculate PM10 concentration over Illinois
            pm10_il = (1.375 * so4_il + bc_phobic_il + bc_philic_il + oc_phobic_il + oc_philic_il +
                       du001_approx_il + du002_approx_il + du003_approx_il + 0.74 * du004_approx_il +
                       ss001_approx_il + ss002_approx_il + ss003_approx_il + ss004_approx_il) * air_density_value

            # Load Illinois counties shapefile
            illinois_counties = gpd.read_file(shapefile_path)

            # Print the columns to help identify the correct one for the county/region names
            print("Columns in the shapefile:")
            print(illinois_counties.columns)

            # Reproject the shapefile to the CRS of the NetCDF data (assuming WGS84 - EPSG:4326) if necessary
            if illinois_counties.crs != 'epsg:4326':  # Check if the CRS is already WGS84
                illinois_counties = illinois_counties.to_crs(epsg=4326)

            county_avg_pm10 = {}

            # Iterate through each county
            for index, county in illinois_counties.iterrows():
                # Replace 'NAME' with the correct column name for your shapefile
                county_name = county['COUNTY_NAM']  
                county_polygon = county['geometry']
                county_pm10_values = []

                # Iterate through the Illinois grid points
                for lat_idx, lat in enumerate(illinois_lats):
                    for lon_idx, lon in enumerate(illinois_lons):
                        point = Point(lon, lat)
                        if county_polygon.contains(point):
                            # Use lat_idx and lon_idx directly to access the PM10 data for Illinois
                            if pm10_il.ndim == 2 and lat_idx < pm10_il.shape[0] and lon_idx < pm10_il.shape[1]:
                                county_pm10_values.append(pm10_il[lat_idx, lon_idx])
                            elif pm10_il.ndim == 3 and 0 < pm10_il.shape[1] and lat_idx < pm10_il.shape[1] and lon_idx < pm10_il.shape[2]:
                                county_pm10_values.append(pm10_il[0, lat_idx, lon_idx])
                            else:
                                print(f"Warning: Index out of bounds for PM10 data at lat_idx={lat_idx}, lon_idx={lon_idx}")

                if county_pm10_values:
                    avg_pm10 = np.mean(county_pm10_values)
                    county_avg_pm10[county_name] = avg_pm10
                else:
                    county_avg_pm10[county_name] = np.nan  # Use np.nan for missing data

            # Create a Pandas DataFrame from the county_avg_pm10 dictionary
            df = pd.DataFrame(list(county_avg_pm10.items()), columns=['County', 'Average PM10'])
            print(df)  # Print the DataFrame

except FileNotFoundError:
    print(f"Error: File not found at '{file_path}' or '{shapefile_path}'")
except Exception as e:
    print(f"An error occurred: {e}")

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
        County  Average PM10
0      MCHENRY           NaN
1        BOONE           NaN
2         OGLE      0.000003
3         WILL      0.000004
4      LASALLE      0.000003
..         ...           ...
97   JEFFERSON           NaN
98    LAWRENCE           NaN
99      MARION      0.000004
100      UNION      0.000004
101       POPE           NaN

[102 rows x 2 columns]

In [15]:
try:
    with fiona.Env(SHAPE_RESTORE_SHX='YES'):
        # Then proceed with reading your shapefile using geopandas
        shapefile_path = 'illinois_shape/IL_BNDY_County_Py.shp'  # Make sure this is correct
        illinois_counties = gpd.read_file(shapefile_path)
        # ... your code to process the shapefile ...
except fiona.errors.DriverError as e:
    print(f"Error reading shapefile with Fiona: {e}")
except FileNotFoundError:
    print(f"Error: Shapefile not found at {shapefile_path}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

In [16]:
df

        County  Average PM10
0      MCHENRY           NaN
1        BOONE           NaN
2         OGLE      0.000003
3         WILL      0.000004
4      LASALLE      0.000003
..         ...           ...
97   JEFFERSON           NaN
98    LAWRENCE           NaN
99      MARION      0.000004
100      UNION      0.000004
101       POPE           NaN

[102 rows x 2 columns]

function to output the monthly concentrations

In [42]:
def calculate_average_pm10(file_path, shapefile_path):
    """
    Calculates the average PM10 concentration for each county (or sub-county region) in a shapefile,
    using data from a NetCDF file.
    """
    air_density_value = 1.225  # kg/m³

    # Define approximate Illinois latitude and longitude boundaries
    min_lat = 36.9
    max_lat = 42.5
    min_lon = -91.5
    max_lon = -87.5
    try:
        with netCDF4.Dataset(file_path, 'r') as nc_file:
            latitudes = nc_file.variables['lat'][:]
            longitudes = nc_file.variables['lon'][:]

            # Find indices of grid points within Illinois latitude and longitude bounds
            lat_indices = np.where((latitudes >= min_lat) & (latitudes <= max_lat))[0]
            lon_indices = np.where((longitudes >= min_lon) & (longitudes <= max_lon))[0]

            # Extract Illinois latitude and longitude coordinates
            illinois_lats = latitudes[lat_indices]
            illinois_lons = longitudes[lon_indices]

            # Extract the 2D aerosol mass mixing ratio variables over the Illinois region
            def extract_illinois_data(var_name):
                if var_name in nc_file.variables:
                    var_data = nc_file.variables[var_name][0, lat_indices, lon_indices]  # Assuming time is the first dimension
                    return var_data
                else:
                    print(f"Warning: Variable '{var_name}' not found.")
                    return None

            so4_il = extract_illinois_data('SO4SMASS')
            bc_il = extract_illinois_data('BCSMASS')
            oc_il = extract_illinois_data('OCCMASS')
            du_il = extract_illinois_data('DUSMASS')
            ss_il = extract_illinois_data('SSSMASS')

            if so4_il is not None and bc_il is not None and oc_il is not None and du_il is not None and ss_il is not None:
                # Assuming BC and OC are split into hydrophobic and hydrophilic
                bc_phobic_il = bc_il * 0.5
                bc_philic_il = bc_il * 0.5
                oc_phobic_il = oc_il * 0.5
                oc_philic_il = oc_il * 0.5

                # Distribute total dust mass based on the PM10 equation coefficients
                total_du_coeff = 1 + 1 + 1 + 0.74
                du001_approx_il = du_il * (1 / total_du_coeff)
                du002_approx_il = du_il * (1 / total_du_coeff)
                du003_approx_il = du_il * (1 / total_du_coeff)
                du004_approx_il = du_il * (0.74 / total_du_coeff)

                # Distribute total sea salt mass evenly
                ss001_approx_il = ss_il * 0.25
                ss002_approx_il = ss_il * 0.25
                ss003_approx_il = ss_il * 0.25
                ss004_approx_il = ss_il * 0.25

                # Calculate PM10 concentration over Illinois
                pm10_il = (1.375 * so4_il + bc_phobic_il + bc_philic_il + oc_phobic_il + oc_philic_il +
                           du001_approx_il + du002_approx_il + du003_approx_il + 0.74 * du004_approx_il +
                           ss001_approx_il + ss002_approx_il + ss003_approx_il + ss004_approx_il) * air_density_value

                # Load Illinois counties shapefile
                illinois_counties = gpd.read_file(shapefile_path)

                # Print the columns to help identify the correct one for the county/region names
                print("Columns in the shapefile:")
                print(illinois_counties.columns)

                # Reproject the shapefile to the CRS of the NetCDF data (assuming WGS84 - EPSG:4326) if necessary
                if illinois_counties.crs != 'epsg:4326':  # Check if the CRS is already WGS84
                    illinois_counties = illinois_counties.to_crs(epsg=4326)

                county_avg_pm10 = {}

                # Iterate through each county
                for index, county in illinois_counties.iterrows():
                    county_name = county['COUNTY_NAM']  # <--- Change this if 'NAME' is not correct
                    county_polygon = county['geometry']
                    county_pm10_values = []

                    # Iterate through the Illinois grid points
                    for lat_idx, lat in enumerate(illinois_lats):
                        for lon_idx, lon in enumerate(illinois_lons):
                            point = Point(lon, lat)
                            if county_polygon.contains(point):
                                # Use lat_idx and lon_idx directly to access the PM10 data for Illinois
                                if pm10_il.ndim == 2 and lat_idx < pm10_il.shape[0] and lon_idx < pm10_il.shape[1]:
                                    county_pm10_values.append(pm10_il[lat_idx, lon_idx])
                                elif pm10_il.ndim == 3 and 0 < pm10_il.shape[1] and lat_idx < pm10_il.shape[1] and lon_idx < pm10_il.shape[2]:
                                    county_pm10_values.append(pm10_il[0, lat_idx, lon_idx])
                                else:
                                    print(
                                        f"Warning: Index out of bounds for PM10 data at lat_idx={lat_idx}, lon_idx={lon_idx}")

                    if county_pm10_values:
                        avg_pm10 = np.mean(county_pm10_values)
                        county_avg_pm10[county_name] = avg_pm10
                    else:
                        county_avg_pm10[county_name] = 0  # Use np.nan for missing data

                # Create a Pandas DataFrame from the county_avg_pm10 dictionary
                df = pd.DataFrame(list(county_avg_pm10.items()), columns=['County', 'Average PM10'])
                return df

            else:
                return None # Return None if the aerosol data is not available
    except FileNotFoundError:
        print(f"Error: File not found at '{file_path}' or '{shapefile_path}'")
        return None
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

In [ ]:
file_path_2020_01 = 'pm10-nasa/2020/MERRA2_400.tavgM_2d_aer_Nx.202001.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2020_01 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2020_01 = calculate_average_pm10(file_path_2020_01, shapefile_path_2020_01)
pm10_df_2020_01

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000003
3         WILL      0.000004
4      LASALLE      0.000003
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000004
100      UNION      0.000004
101       POPE      0.000000

[102 rows x 2 columns]

In [ ]:
file_path_2020_02 = 'pm10-nasa/2020/MERRA2_400.tavgM_2d_aer_Nx.202002.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2020_02 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2020_02 = calculate_average_pm10(file_path_2020_02, shapefile_path_2020_02)
pm10_df_2020_02

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000003
3         WILL      0.000003
4      LASALLE      0.000003
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000004
100      UNION      0.000003
101       POPE      0.000000

[102 rows x 2 columns]

In [ ]:
file_path_2020_03 = 'pm10-nasa/2020/MERRA2_400.tavgM_2d_aer_Nx.202003.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2020_03 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2020_03 = calculate_average_pm10(file_path_2020_03, shapefile_path_2020_03)
pm10_df_2020_03

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000007
3         WILL      0.000006
4      LASALLE      0.000006
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000007
100      UNION      0.000007
101       POPE      0.000000

[102 rows x 2 columns]

In [47]:
file_path_2021_01 = 'pm10-nasa/2021/MERRA2_400.tavgM_2d_aer_Nx.202101.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_01 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_01 = calculate_average_pm10(file_path_2021_01, shapefile_path_2021_01)
pm10_df_2021_01

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000003
3         WILL      0.000003
4      LASALLE      0.000003
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000003
100      UNION      0.000004
101       POPE      0.000000

[102 rows x 2 columns]

In [48]:
file_path_2021_02 = 'pm10-nasa/2021/MERRA2_400.tavgM_2d_aer_Nx.202102.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_02 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_02 = calculate_average_pm10(file_path_2021_02, shapefile_path_2021_02)
pm10_df_2021_02

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000003
3         WILL      0.000003
4      LASALLE      0.000003
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000003
100      UNION      0.000004
101       POPE      0.000000

[102 rows x 2 columns]

In [49]:
file_path_2021_03 = 'pm10-nasa/2021/MERRA2_400.tavgM_2d_aer_Nx.202103.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_03 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_03 = calculate_average_pm10(file_path_2021_03, shapefile_path_2021_03)
pm10_df_2021_03

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000008
3         WILL      0.000007
4      LASALLE      0.000008
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000008
100      UNION      0.000009
101       POPE      0.000000

[102 rows x 2 columns]

In [50]:
file_path_2021_04 = 'pm10-nasa/2021/MERRA2_400.tavgM_2d_aer_Nx.202104.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_04 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_04 = calculate_average_pm10(file_path_2021_04, shapefile_path_2021_04)
pm10_df_2021_04

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000011
3         WILL      0.000011
4      LASALLE      0.000011
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000012
100      UNION      0.000012
101       POPE      0.000000

[102 rows x 2 columns]

In [51]:
file_path_2021_05 = 'pm10-nasa/2021/MERRA2_400.tavgM_2d_aer_Nx.202105.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_05 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_05 = calculate_average_pm10(file_path_2021_05, shapefile_path_2021_05)
pm10_df_2021_05

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000006
3         WILL      0.000007
4      LASALLE      0.000006
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000008
100      UNION      0.000008
101       POPE      0.000000

[102 rows x 2 columns]

In [52]:
file_path_2021_06 = 'pm10-nasa/2021/MERRA2_401.tavgM_2d_aer_Nx.202106.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_06 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_06 = calculate_average_pm10(file_path_2021_06, shapefile_path_2021_06)
pm10_df_2021_06

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000008
3         WILL      0.000009
4      LASALLE      0.000009
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000010
100      UNION      0.000011
101       POPE      0.000000

[102 rows x 2 columns]

In [53]:
file_path_2021_07 = 'pm10-nasa/2021/MERRA2_401.tavgM_2d_aer_Nx.202107.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_07 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_07 = calculate_average_pm10(file_path_2021_07, shapefile_path_2021_07)
pm10_df_2021_07

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000054
3         WILL      0.000051
4      LASALLE      0.000052
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000053
100      UNION      0.000047
101       POPE      0.000000

[102 rows x 2 columns]

In [54]:
file_path_2021_08 = 'pm10-nasa/2021/MERRA2_401.tavgM_2d_aer_Nx.202108.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_08 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_08 = calculate_average_pm10(file_path_2021_08, shapefile_path_2021_08)
pm10_df_2021_08

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000030
3         WILL      0.000027
4      LASALLE      0.000028
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000025
100      UNION      0.000023
101       POPE      0.000000

[102 rows x 2 columns]

In [55]:
file_path_2021_09 = 'pm10-nasa/2021/MERRA2_401.tavgM_2d_aer_Nx.202109.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_09 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_09 = calculate_average_pm10(file_path_2021_09, shapefile_path_2021_09)
pm10_df_2021_09

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000023
3         WILL      0.000024
4      LASALLE      0.000024
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000025
100      UNION      0.000028
101       POPE      0.000000

[102 rows x 2 columns]

In [56]:
file_path_2021_10 = 'pm10-nasa/2021/MERRA2_401.tavgM_2d_aer_Nx.202110.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_10 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_10 = calculate_average_pm10(file_path_2021_10, shapefile_path_2021_10)
pm10_df_2021_10

Error: File not found at 'pm10-nasa/2021/MERRA2_401.tavgM_2d_aer_Nx.202110.nc4' or 'illinois_shape/IL_BNDY_County_Py.shp'

In [57]:
file_path_2021_11 = 'pm10-nasa/2021/MERRA2_400.tavgM_2d_aer_Nx.202111.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_11 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_11 = calculate_average_pm10(file_path_2021_11, shapefile_path_2021_11)
pm10_df_2021_11

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000004
3         WILL      0.000005
4      LASALLE      0.000004
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000005
100      UNION      0.000005
101       POPE      0.000000

[102 rows x 2 columns]

In [58]:
file_path_2021_12 = 'pm10-nasa/2021/MERRA2_400.tavgM_2d_aer_Nx.202112.nc4'
# Replace 'path/to/your/illinois_counties.shp' with the actual path to your shapefile
shapefile_path_2021_12 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2021_12 = calculate_average_pm10(file_path_2021_12, shapefile_path_2021_12)
pm10_df_2021_12

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

        County  Average PM10
0      MCHENRY      0.000000
1        BOONE      0.000000
2         OGLE      0.000003
3         WILL      0.000003
4      LASALLE      0.000003
..         ...           ...
97   JEFFERSON      0.000000
98    LAWRENCE      0.000000
99      MARION      0.000003
100      UNION      0.000003
101       POPE      0.000000

[102 rows x 2 columns]

Combine the 2021 monthly data together to find the averages

In [64]:
list_of_dataframes = [pm10_df_2021_01, pm10_df_2021_02, pm10_df_2021_03, pm10_df_2021_04, pm10_df_2021_05, pm10_df_2021_06, pm10_df_2021_07, pm10_df_2021_08, pm10_df_2021_09, pm10_df_2021_10, pm10_df_2021_11, pm10_df_2021_12]
pm10_2021_concat = pd.concat(list_of_dataframes, ignore_index=True)
pm10_2021_mean = pm10_2021_concat.groupby('County')['Average PM10'].mean().reset_index()
pm10_2021_mean

         County  Average PM10
0         ADAMS      0.000015
1     ALEXANDER      0.000000
2          BOND      0.000015
3         BOONE      0.000000
4         BROWN      0.000015
..          ...           ...
97    WHITESIDE      0.000000
98         WILL      0.000014
99   WILLIAMSON      0.000000
100   WINNEBAGO      0.000014
101    WOODFORD      0.000000

[102 rows x 2 columns]

In [71]:
file_path_2022_01 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202201.nc4'
shapefile_path_2022_01 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_01 = calculate_average_pm10(file_path_2022_01, shapefile_path_2022_01)

file_path_2022_02 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202202.nc4'
shapefile_path_2022_02 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_02 = calculate_average_pm10(file_path_2022_02, shapefile_path_2022_02)

file_path_2022_03 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202203.nc4'
shapefile_path_2022_03 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_03 = calculate_average_pm10(file_path_2022_03, shapefile_path_2022_03)

file_path_2022_04 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202204.nc4'
shapefile_path_2022_04 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_04 = calculate_average_pm10(file_path_2022_04, shapefile_path_2022_04)

file_path_2022_05 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202205.nc4'
shapefile_path_2022_05 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_05 = calculate_average_pm10(file_path_2022_05, shapefile_path_2022_05)

file_path_2022_06 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202206.nc4'
shapefile_path_2022_06 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_06 = calculate_average_pm10(file_path_2022_06, shapefile_path_2022_06)

file_path_2022_07 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202207.nc4'
shapefile_path_2022_07 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_07 = calculate_average_pm10(file_path_2022_07, shapefile_path_2022_07)

file_path_2022_08 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202208.nc4'
shapefile_path_2022_08 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_08 = calculate_average_pm10(file_path_2022_08, shapefile_path_2022_08)

file_path_2022_09 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202209.nc4'
shapefile_path_2022_09 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_09 = calculate_average_pm10(file_path_2022_09, shapefile_path_2022_09)

file_path_2022_10 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202210.nc4'
shapefile_path_2022_10 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_10 = calculate_average_pm10(file_path_2022_10, shapefile_path_2022_10)

file_path_2022_11 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202211.nc4'
shapefile_path_2022_11 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_11 = calculate_average_pm10(file_path_2022_11, shapefile_path_2022_11)

file_path_2022_12 = 'pm10-nasa/2022/MERRA2_400.tavgM_2d_aer_Nx.202212.nc4'
shapefile_path_2022_12 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2022_12 = calculate_average_pm10(file_path_2022_12, shapefile_path_2022_12)

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

In [72]:
list_of_dataframes = [pm10_df_2022_01, pm10_df_2022_02, pm10_df_2022_03, pm10_df_2022_04, pm10_df_2022_05, pm10_df_2022_06, pm10_df_2022_07, pm10_df_2022_08, pm10_df_2022_09, pm10_df_2022_10, pm10_df_2022_11, pm10_df_2022_12]
pm10_2022_concat = pd.concat(list_of_dataframes, ignore_index=True)
pm10_2022_mean = pm10_2022_concat.groupby('County')['Average PM10'].mean().reset_index()
pm10_2022_mean

         County  Average PM10
0         ADAMS      0.000007
1     ALEXANDER      0.000000
2          BOND      0.000008
3         BOONE      0.000000
4         BROWN      0.000007
..          ...           ...
97    WHITESIDE      0.000000
98         WILL      0.000007
99   WILLIAMSON      0.000000
100   WINNEBAGO      0.000007
101    WOODFORD      0.000000

[102 rows x 2 columns]

In [74]:
file_path_2023_01 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202301.nc4'
shapefile_path_2023_01 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_01 = calculate_average_pm10(file_path_2023_01, shapefile_path_2023_01)

file_path_2023_02 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202302.nc4'
shapefile_path_2023_02 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_02 = calculate_average_pm10(file_path_2023_02, shapefile_path_2023_02)

file_path_2023_03 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202303.nc4'
shapefile_path_2023_03 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_03 = calculate_average_pm10(file_path_2023_03, shapefile_path_2023_03)

file_path_2023_04 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202304.nc4'
shapefile_path_2023_04 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_04 = calculate_average_pm10(file_path_2023_04, shapefile_path_2023_04)

file_path_2023_05 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202305.nc4'
shapefile_path_2023_05 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_05 = calculate_average_pm10(file_path_2023_05, shapefile_path_2023_05)

file_path_2023_06 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202306.nc4'
shapefile_path_2023_06 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_06 = calculate_average_pm10(file_path_2023_06, shapefile_path_2023_06)

file_path_2023_07 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202307.nc4'
shapefile_path_2023_07 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_07 = calculate_average_pm10(file_path_2023_07, shapefile_path_2023_07)

file_path_2023_08 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202308.nc4'
shapefile_path_2023_08 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_08 = calculate_average_pm10(file_path_2023_08, shapefile_path_2023_08)

file_path_2023_09 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202309.nc4'
shapefile_path_2023_09 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_09 = calculate_average_pm10(file_path_2023_09, shapefile_path_2023_09)

file_path_2023_10 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202310.nc4'
shapefile_path_2023_10 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_10 = calculate_average_pm10(file_path_2023_10, shapefile_path_2023_10)

file_path_2023_11 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202311.nc4'
shapefile_path_2023_11 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_11 = calculate_average_pm10(file_path_2023_11, shapefile_path_2023_11)

file_path_2023_12 = 'pm10-nasa/2023/MERRA2_400.tavgM_2d_aer_Nx.202312.nc4'
shapefile_path_2023_12 = 'illinois_shape/IL_BNDY_County_Py.shp'
pm10_df_2023_12 = calculate_average_pm10(file_path_2023_12, shapefile_path_2023_12)

Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')
Columns in the shapefile:
Index(['COUNTY_NAM', 'CO_FIPS', 'geometry'], dtype='object')

In [75]:
list_of_dataframes = [pm10_df_2023_01, pm10_df_2023_02, pm10_df_2023_03, pm10_df_2023_04, pm10_df_2023_05, pm10_df_2023_06, pm10_df_2023_07, pm10_df_2023_08, pm10_df_2023_09, pm10_df_2023_10, pm10_df_2023_11, pm10_df_2023_12]
pm10_2023_concat = pd.concat(list_of_dataframes, ignore_index=True)
pm10_2023_mean = pm10_2023_concat.groupby('County')['Average PM10'].mean().reset_index()
pm10_2023_mean

         County  Average PM10
0         ADAMS      0.000013
1     ALEXANDER      0.000000
2          BOND      0.000013
3         BOONE      0.000000
4         BROWN      0.000014
..          ...           ...
97    WHITESIDE      0.000000
98         WILL      0.000016
99   WILLIAMSON      0.000000
100   WINNEBAGO      0.000016
101    WOODFORD      0.000000

[102 rows x 2 columns]