<h1>Tuberculosis</h1>

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df_air23 = pd.read_csv("illinois-2023-air-pollution---particulate-matter-place-sort.csv")
df_air23.rename(columns={'County Value': 'County Value 23', 'Z-Score': 'Z-Score 23'}, inplace=True)

df_air22 = pd.read_csv("illinois-2022-air-pollution---particulate-matter-place-sort.csv")
df_air22.rename(columns={'County Value': 'County Value 22', 'Z-Score': 'Z-Score 22'}, inplace=True)

df_air21 = pd.read_csv("illinois-2021-air-pollution---particulate-matter-place-sort.csv")
df_air21.rename(columns={'County Value': 'County Value 21', 'Z-Score': 'Z-Score 21'}, inplace=True)

df_air23

         County  County Value 23  Z-Score 23
0      Illinois              8.8         NaN
1         Adams              8.3       -0.96
2     Alexander              8.8       -0.16
3          Bond              8.6       -0.48
4         Boone              9.5        0.95
..          ...              ...         ...
98    Whiteside              9.4        0.79
99         Will              9.8        1.43
100  Williamson              8.9        0.00
101   Winnebago             10.3        2.22
102    Woodford              9.2        0.47

[103 rows x 3 columns]

merge the 3 air pollution data frames

In [23]:
df_22_23 = pd.merge(df_air22, df_air23, on = 'County', how = 'outer')
df_22_23
df_air = pd.merge(df_air21, df_22_23, on = 'County', how = 'outer')
df_air

,County,County Value 21,Z-Score 21,County Value 22,Z-Score 22,County Value 23,Z-Score 23
0,Adams,8.6,-0.22,9.3,-0.40,8.3,-0.96
1,Alexander,9.2,1.02,9.5,-0.01,8.8,-0.16
2,Bond,8.7,-0.01,9.3,-0.40,8.6,-0.48
3,Boone,9.1,0.81,9.6,0.19,9.5,0.95
4,Brown,8.1,-1.25,8.9,-1.20,7.9,-1.59
...,...,...,...,...,...,...,...
98,Whiteside,8.9,0.40,9.6,0.19,9.4,0.79
99,Will,8.0,-1.45,10.1,1.19,9.8,1.43
100,Williamson,9.2,1.02,9.5,-0.01,8.9,0.00
101,Winnebago,7.8,-1.86,9.8,0.59,10.3,2.22
102,Woodford,8.9,0.40,10.0,0.99,9.2,0.47

In [33]:
df_tub23 = pd.read_csv("2023 Illinois Tuberculosis Case Rates per 100,000 Population (1).csv")
df_tub23.rename(columns={'Cases': 'Cases 23', 'Case Rate per 100,000 Population': '(23)Case Rate/100,000'}, inplace=True)

df_tub22 = pd.read_csv("2022 Illinois Tuberculosis Case Rates per 100,000 Population.csv")
df_tub22.rename(columns={'Cases': 'Cases 22', 'Case Rate per 100,000 Population': '(22)Case Rate/100,000'}, inplace=True)

df_tub21 = pd.read_csv("2021 Illinois Tuberculosis Case Rates per 100,000 Population.csv")
df_tub21.rename(columns={'Cases': 'Cases 21', 'Case Rate per 100,000 Population': '(21)Case Rate/100,000'}, inplace=True)

df_tub23

         County  Cases 23 (23)Case Rate/100,000
0         Adams         0                     0
1     Alexander         0                     0
2          Bond         0                     0
3         Boone         0                     0
4         Brown         0                     0
..          ...       ...                   ...
98    Whiteside         1       Rate Suppressed
99         Will        15                  2.15
100  Williamson         0                     0
101   Winnebago         4                   1.4
102    Woodford         0                     0

[103 rows x 3 columns]

merge tuberculosis dataframes

In [35]:
df_tub_22_23 = pd.merge(df_tub22, df_tub23, on = 'County', how = 'outer')
df_tub_22_23
df_tub = pd.merge(df_tub21, df_tub_22_23, on = 'County', how = 'outer')
df_tub

,County,Cases 21,"(21)Case Rate/100,000",Cases 22,"(22)Case Rate/100,000",Cases 23,"(23)Case Rate/100,000"
0,Adams,0,0,0,0,0,0
1,Alexander,0,0,0,0,0,0
2,Bond,0,0,0,0,0,0
3,Boone,0,0,0,0,0,0
4,Brown,0,0,0,0,0,0
...,...,...,...,...,...,...,...
98,Whiteside,0,0,0,0,1,Rate Suppressed
99,Will,6,0.87,14,2.01,15,2.15
100,Williamson,3,Rate Suppressed,0,0,0,0
101,Winnebago,3,1.06,8,2.8,4,1.4
102,Woodford,0,0,0,0,0,0

In [36]:
def merge_dataframes_by_county(df1, df2, county_column_df1='County', county_column_df2='County', keep_overlap_only=True):
    # Standardize county names to handle minor variations (e.g., lowercase, remove extra spaces)
    df1[county_column_df1] = df1[county_column_df1].str.strip().str.lower()
    df2[county_column_df2] = df2[county_column_df2].str.strip().str.lower()

    # Perform the merge using the standardized county names
    if keep_overlap_only:
        merged_df = pd.merge(df1, df2, left_on=county_column_df1, right_on=county_column_df2, how='inner') # inner join
    else:
        merged_df = pd.merge(df1, df2, left_on=county_column_df1, right_on=county_column_df2, how='outer')

    return merged_df

In [37]:
df_merge = merge_dataframes_by_county(df_air, df_tub)
df_merge

,County,County Value 21,Z-Score 21,County Value 22,Z-Score 22,County Value 23,Z-Score 23,Cases 21,"(21)Case Rate/100,000",Cases 22,"(22)Case Rate/100,000",Cases 23,"(23)Case Rate/100,000"
0,adams,8.6,-0.22,9.3,-0.40,8.3,-0.96,0,0,0,0,0,0
1,alexander,9.2,1.02,9.5,-0.01,8.8,-0.16,0,0,0,0,0,0
2,bond,8.7,-0.01,9.3,-0.40,8.6,-0.48,0,0,0,0,0,0
3,boone,9.1,0.81,9.6,0.19,9.5,0.95,0,0,0,0,0,0
4,brown,8.1,-1.25,8.9,-1.20,7.9,-1.59,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,whiteside,8.9,0.40,9.6,0.19,9.4,0.79,0,0,0,0,1,Rate Suppressed
98,will,8.0,-1.45,10.1,1.19,9.8,1.43,6,0.87,14,2.01,15,2.15
99,williamson,9.2,1.02,9.5,-0.01,8.9,0.00,3,Rate Suppressed,0,0,0,0
100,winnebago,7.8,-1.86,9.8,0.59,10.3,2.22,3,1.06,8,2.8,4,1.4
101,woodford,8.9,0.40,10.0,0.99,9.2,0.47,0,0,0,0,0,0

<h1>DF info</h1>

Tuberculosis Dataframe information / description

In [ ]:
#print("--- DataFrame Info ---")
#print(df_tub.info())

print("\n--- Summary Statistics (Numerical Columns) ---")
print(df_tub.describe())

# changing columns from objects into strings
df_tub['County'] = df_tub['County'].astype("string")
df_tub['(21)Case Rate/100,000'] = df_tub['(21)Case Rate/100,000'].astype("string")
df_tub['(22)Case Rate/100,000'] = df_tub['(22)Case Rate/100,000'].astype("string")
df_tub['(23)Case Rate/100,000'] = df_tub['(23)Case Rate/100,000'].astype("string")

print("--- DataFrame Info (After) ---")
print(df_tub.info())

--- Summary Statistics (Numerical Columns) ---
         Cases 21    Cases 22    Cases 23
count  103.000000  103.000000  103.000000
mean     2.456311    2.893204    3.388350
std     11.704513   13.489947   17.362475
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000
max     97.000000  111.000000  154.000000

ValueError: invalid literal for int() with base 10: '2.38'

Air Polution (Pm2.5) Data Frame Info / Description

In [51]:
#print("--- DataFrame Info ---")
#print(df_air.info())

print("\n--- Summary Statistics (Numerical Columns) ---")
print(df_air.describe())

df_air['County'] = df_air['County'].astype("string")

print("--- DataFrame Info (After) ---")
print(df_air.info())

--- Summary Statistics (Numerical Columns) ---
       County Value 21  Z-Score 21  County Value 22  Z-Score 22  \
count       103.000000  102.000000       103.000000  102.000000
mean          8.704854   -0.000098         9.501942   -0.000686
std           0.482920    0.999847         0.499604    0.999601
min           7.100000   -3.310000         7.800000   -3.390000
25%           8.500000   -0.420000         9.300000   -0.400000
50%           8.700000   -0.010000         9.400000   -0.210000
75%           8.900000    0.400000         9.700000    0.390000
max          10.000000    2.670000        11.200000    3.380000

       County Value 23  Z-Score 23
count       103.000000  102.000000
mean          8.900971    0.000294
std           0.627084    1.000159
min           7.100000   -2.860000
25%           8.600000   -0.480000
50%           8.800000   -0.160000
75%           9.150000    0.430000
max          11.200000    3.650000
--- DataFrame Info (After) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   County           103 non-null    string
 1   County Value 21  103 non-null    float64
 2   Z-Score 21       102 non-null    float64
 3   County Value 22  103 non-null    float64
 4   Z-Score 22       102 non-null    float64
 5   County Value 23  103 non-null    float64
 6   Z-Score 23       102 non-null    float64
dtypes: float64(6), string(1)
memory usage: 5.8 KB
None

<h1>Visualizations</h1>

In [13]:
"""
plt.figure(figsize=(10, 8))
numerical_cols = df_air.select_dtypes(include=['number']).columns
sns.heatmap(df_air[numerical_cols].corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()"
"""

'\nplt.figure(figsize=(10, 8))\nnumerical_cols = df_air.select_dtypes(include=[\'number\']).columns\nsns.heatmap(df_air[numerical_cols].corr(), annot=True, cmap=\'coolwarm\')\nplt.title(\'Correlation Heatmap\')\nplt.show()"\n'

<h1>Models</h1>