<h1>Tuberculosis</h1>

In [2]:
import pandas as pd

In [3]:
df_air = pd.read_csv("illinois-2023-air-pollution---particulate-matter-place-sort.csv")
df_air

         County  County Value  Z-Score
0      Illinois           8.8      NaN
1         Adams           8.3    -0.96
2     Alexander           8.8    -0.16
3          Bond           8.6    -0.48
4         Boone           9.5     0.95
..          ...           ...      ...
98    Whiteside           9.4     0.79
99         Will           9.8     1.43
100  Williamson           8.9     0.00
101   Winnebago          10.3     2.22
102    Woodford           9.2     0.47

[103 rows x 3 columns]