<h1>Tuberculosis</h1>

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_air = pd.read_csv("illinois-2023-air-pollution---particulate-matter-place-sort.csv")
df_air

         County  County Value  Z-Score
0      Illinois           8.8      NaN
1         Adams           8.3    -0.96
2     Alexander           8.8    -0.16
3          Bond           8.6    -0.48
4         Boone           9.5     0.95
..          ...           ...      ...
98    Whiteside           9.4     0.79
99         Will           9.8     1.43
100  Williamson           8.9     0.00
101   Winnebago          10.3     2.22
102    Woodford           9.2     0.47

[103 rows x 3 columns]

In [5]:
df_tub = pd.read_csv("2023 Illinois Tuberculosis Case Rates per 100,000 Population (1).csv")
df_tub

         County  Cases Case Rate per 100,000 Population
0         Adams      0                                0
1     Alexander      0                                0
2          Bond      0                                0
3         Boone      0                                0
4         Brown      0                                0
..          ...    ...                              ...
98    Whiteside      1                  Rate Suppressed
99         Will     15                             2.15
100  Williamson      0                                0
101   Winnebago      4                              1.4
102    Woodford      0                                0

[103 rows x 3 columns]

In [6]:
def merge_dataframes_by_county(df1, df2, county_column_df1='County', county_column_df2='County', keep_overlap_only=True):
    # Standardize county names to handle minor variations (e.g., lowercase, remove extra spaces)
    df1[county_column_df1] = df1[county_column_df1].str.strip().str.lower()
    df2[county_column_df2] = df2[county_column_df2].str.strip().str.lower()

    # Perform the merge using the standardized county names
    if keep_overlap_only:
        merged_df = pd.merge(df1, df2, left_on=county_column_df1, right_on=county_column_df2, how='inner') # inner join
    else:
        merged_df = pd.merge(df1, df2, left_on=county_column_df1, right_on=county_column_df2, how='outer')

    return merged_df

In [11]:
df_merge = merge_dataframes_by_county(df_air, df_tub)
df_merge

         County  County Value  Z-Score  Cases Case Rate per 100,000 Population
0         adams           8.3    -0.96      0                                0
1     alexander           8.8    -0.16      0                                0
2          bond           8.6    -0.48      0                                0
3         boone           9.5     0.95      0                                0
4         brown           7.9    -1.59      0                                0
..          ...           ...      ...    ...                              ...
97    whiteside           9.4     0.79      1                  Rate Suppressed
98         will           9.8     1.43     15                             2.15
99   williamson           8.9     0.00      0                                0
100   winnebago          10.3     2.22      4                              1.4
101    woodford           9.2     0.47      0                                0

[102 rows x 5 columns]

<h1>DF info</h1>

In [9]:
print("--- DataFrame Info ---")
print(df_tub.info())

print("\n--- Summary Statistics (Numerical Columns) ---")
print(df_tub.describe())

--- DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   County                            103 non-null    object
 1   Cases                             103 non-null    int64
 2   Case Rate per 100,000 Population  103 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.5+ KB
None

--- Summary Statistics (Numerical Columns) ---
            Cases
count  103.000000
mean     3.388350
std     17.362475
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max    154.000000

<h1>Visualizations</h1>

In [13]:
"""
plt.figure(figsize=(10, 8))
numerical_cols = df_air.select_dtypes(include=['number']).columns
sns.heatmap(df_air[numerical_cols].corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()"
"""

'\nplt.figure(figsize=(10, 8))\nnumerical_cols = df_air.select_dtypes(include=[\'number\']).columns\nsns.heatmap(df_air[numerical_cols].corr(), annot=True, cmap=\'coolwarm\')\nplt.title(\'Correlation Heatmap\')\nplt.show()"\n'